/* PAGE FORMAT */
@page-width: 594mm;
@page-height: 420mm;

/* CROP MARKS */
@crop-size: 7mm;

/* BLEED */
@bleed: 5mm;

/* MARGINS */
@page-margin-inside: 15mm;
@page-margin-outside: 15mm;
@page-margin-top: 15mm;
@page-margin-bottom: 15mm;

/* HEADER & FOOTER */
@header-height: 0mm;
@header-text: "";
@footer-height: 0mm;
@footer-text: "";

/* FLOW */
.h2p-recipient {
    -webkit-flow-from: myArticle;
    flow-from: myArticle;
}

#h2p-content {
    -webkit-flow-into: myArticle;
    flow-into: myArticle;
}
