#viewport {
    position: fixed;
    top: 0;
    bottom: 25px;
    left: 0;
    right: 0;
}

#toolbar {
    background-color: black;
    position: fixed;
    height: 25px;
    bottom: 0em;
    left: 0;
    right: 0;
    color: white;
    font-family: sans;
    font-size: 11px;
    text-transform: uppercase;
    padding: 3px 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

label {
    margin-left: 1.5em;
    margin-right: 3px;
}

input {
    border: 1px solid white;
    background-color: white;
    font-size: 11px;
    vertical-align: -2px;
}
input[type=number]{
    width: 50px;
    vertical-align: 0px;
    margin-left: 2px;
}
input:hover {
    cursor: pointer;
    background-color: yellow;
}

button {
    border: 1px solid white;
    background-color: white;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 1em;
    margin-right: 1em;
    height: 19px;
}
button:hover {
    cursor: pointer;
    background-color: yellow;
}
.separator {
    content: " ";
    flex-grow: 2;
    -webkit-flex-grow: 2;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
