/* VARIABLES */
/* FONTS */
@font-face {
  font-family: Ax28;
  src: url("/document/fonts/Ax28script.otf");
}
@font-face {
  font-family: herscheyTimes;
  src: url("/document/fonts/hersheytimes.otf");
}
@font-face {
  font-family: herscheyScript;
  src: url("/document/fonts/herscheyscript.otf");
}
@font-face {
  font-family: Ume;
  src: url("/document/fonts/UmePlumePGothic-220.otf");
}
@font-face {
  font-family: UmeMincho;
  src: url("/document/fonts/UmePlumePMincho-220.otf");
}
@font-face {
  font-family: Belgika;
  src: url("/document/fonts/Belgika-16th.otf");
}
/* REDEFINE TAGS */
body {
  font-family: UmeMincho;
  font-size: 10pt;
  line-height: 12.5pt;
}
@media screen {
  body {
    -webkit-transform-origin: top center;
  }
}
@media print {
  body {
    -webkit-transform-origin: top left;
  }
}
h2 {
  font-family: Belgika;
  text-align: center;
  line-height: 37.5pt;
  margin-top: 12.5pt;
}
p + p {
  margin-top: 12.5pt;
}
a {
  border-bottom: 1px solid blue;
  word-break: break-word;
}
a:before {
  content: "<";
  border-bottom: none;
}
a:after {
  content: ">";
  border-bottom: none;
}
strong {
  color: blue;
}
sup {
  font-family: Belgika;
  color: blue;
  font-size: 0.55em;
  vertical-align: 0.5em;
  line-height: 0;
}
img {
  display: block;
}
/* FLOWS */
.column--small {
  -webkit-flow-from: marginalia;
  flow-from: marginalia;
}
#bioNicolas,
#footnotes {
  -webkit-flow-into: marginalia;
  flow-into: marginalia;
}
/* SPECIFIC STYLES */
.feuille {
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  padding: 37.5pt;
}
.column {
  float: left;
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  -webkit-flex-grow: 1;
}
.column + .column {
  margin-left: 18.75pt;
}
.column--small {
  width: 10%;
}
.encadre {
  width: 50%;
  height: 30%;
  float: left;
}
.h2p-paper {
  position: relative;
  z-index: -1000;
  background-image: url("/document/img/vagues4.png");
  background-repeat: repeat;
  background-size: 5%;
}
#texteNicolas h1 {
  font-family: herscheyTimes;
  font-size: 30pt;
  line-height: 37.5pt;
  text-align: center;
  display: inline-block;
}
#texteNicolas h2 {
  margin-top: 0;
}
#footnotes {
  font-family: Ume;
  font-size: 9pt;
}
img {
  max-width: 15%;
  margin-left: 2%;
  margin-top: 12.5pt;
}
#img-etsi {
  width: 10%;
}
#img-lgru {
  width: 10%;
}
#img-wtc {
  max-width: 100%;
}
#bioNicolas {
  font-family: Ume;
  font-size: 8pt;
  line-height: 1.2em;
  margin-top: 12.5pt;
}
#members {
  width: 50%;
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  -webkit-flex-flow: row wrap;
}
#members div {
  margin: 12.5pt;
}
#members h1 {
  font-family: HerscheyTimes;
  font-size: 30pt;
  line-height: 37.5pt;
  margin: 6.25pt 0;
  -webkit-flex-grow: 1;
  -webkit-flex-basis: 100%;
  text-align: center;
}
#members h2 {
  font-size: 10pt;
  line-height: 12.5pt;
  border-bottom: 1px solid blue;
  text-align: center;
  padding-bottom: 6.25pt;
}
#members h3 {
  text-transform: uppercase;
}
#members ul {
  margin-bottom: 12.5pt;
}
#members li {
  max-width: 10em;
  border-bottom: 1px solid blue;
  display: inline-flex;
  padding: 3.125pt;
}
#members li:nth-child(odd) {
  text-align: left;
  border-left: 1px solid blue;
  border-bottom: 1px solid blue;
}
#members li:nth-child(even) {
  text-align: right;
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
  border-top: 1px solid blue;
}
#frog {
  width: 150px;
  position: relative;
  top: -370px;
}
#frog svg#svg5365 path {
  stroke: blue !important;
}
/* DEBUG */
.debug .column {
  outline: 1px solid springgreen;
}
