@font-size : 12

@font-face {
  font-family: PropCourierSans;
  src: url("/document/fonts/persistent_typeface_PropCourierSans.ttf");
}
body {
  font-family: PropCourierSans;
  font-size: 12pt;
  line-height: 14pt;
}
