/* VARIABLES */
/* FONTS */
@font-face {
  font-family: herscheyTimes;
  src: url("/document/fonts/hersheytimes.otf");
}
@font-face {
  font-family: Ume;
  src: url("/document/fonts/UmePlumePGothic-220.otf");
}
@font-face {
  font-family: Ume;
  src: url("/document/fonts/UmePlumePGothicOblique-220-spaced.otf");
  font-style: italic;
}
@font-face {
  font-family: UmeMincho;
  src: url("/document/fonts/UmePlumePMincho-220.otf");
}
@font-face {
  font-family: UmeMincho;
  src: url("/document/fonts/UmePlumePMinchoOblique-220-spaced.otf");
  font-style: italic;
}
@font-face {
  font-family: Belgika;
  src: url("/document/fonts/Belgika-16th.otf");
}
/* REDEFINE TAGS */
body {
  font-family: UmeMincho;
  font-size: 10pt;
  line-height: 12.5pt;
}
@media print {
  body {
    -webkit-transform-origin: top left;
  }
}
h1 {
  font-family: HerscheyTimes;
}
h2 {
  font-family: Belgika;
  text-align: center;
  line-height: 37.5pt;
  margin-top: 12.5pt;
}
p + p {
  margin-top: 12.5pt;
}
a {
  border-bottom: 1px solid blue;
  word-break: break-word;
  letter-spacing: 0.25px;
}
a:before {
  content: "<";
  border-bottom: none;
}
a:after {
  content: ">";
  border-bottom: none;
}
em {
  font-style: italic;
}
strong {
  color: blue;
}
sup {
  font-family: Belgika;
  color: blue;
  font-size: 0.55em;
  vertical-align: 0.5em;
  line-height: 0;
}
img {
  display: block;
}
/* FLOWS */
.column--small {
  -webkit-flow-from: marginalia;
  flow-from: marginalia;
}
#bioNicolas,
#footnotes {
  -webkit-flow-into: marginalia;
  flow-into: marginalia;
}
/* SPECIFIC STYLES */
.feuille {
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  padding: 37.5pt;
}
.column {
  float: left;
  width: 40%;
  height: 100%;
  box-sizing: border-box;
}
.column + .column {
  margin-left: 18.75pt;
}
.column--small {
  width: 10%;
}
#feuille1 .column:first-child,
#feuille2 .column:last-child {
  width: 50% !important;
}
.h2p-paper {
  position: relative;
  z-index: -1000;
}
#page-2 .crops span {
  border-color: #00ffbf;
}
#page-2 .crop-top-left span {
  border-color: white;
}
#texteNicolas h1 {
  font-family: herscheyTimes;
  font-size: 30pt;
  line-height: 37.5pt;
  text-align: center;
  margin-bottom: -10pt;
}
#texteNicolas h2 {
  margin-top: 0;
}
#footnotes {
  font-family: Ume;
  font-size: 9pt;
}
img {
  margin-left: 2%;
  margin-top: 12.5pt;
}
#img-jam {
  width: 8cm;
  float: right;
  margin-left: 12.5pt;
  margin-top: 0;
}
#img-etsi {
  width: 4cm;
  float: left;
  margin-top: 0;
  margin-left: 0;
  margin-right: 6.25pt;
}
#img-balsa {
  width: auto;
  height: 5cm;
  margin-left: 4em;
}
#img-collision {
  width: 6cm;
  float: right;
  margin-top: 25pt;
}
#img-lgru {
  width: 7cm;
  margin-left: 2.5cm;
  margin-top: 12.5pt;
  margin-bottom: 37.5pt;
}
#img-wtc {
  max-width: 100%;
  margin: 0;
}
#trame {
  position: absolute;
  top: -5mm;
  left: -12mm;
  width: 618mm;
  height: 444mm;
  z-index: -100;
}
#poster {
  -webkit-transform: rotate(-90deg) translate(-428mm, -24mm);
  -webkit-transform-origin: top left;
  width: 444mm;
  height: 618mm;
}
#bioNicolas {
  font-family: Ume;
  font-size: 9pt;
  margin-top: 12.5pt;
}
#members {
  width: 100%;
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  -webkit-flex-flow: row wrap;
}
#members div {
  margin: 12.5pt;
}
#members h1 {
  font-family: HerscheyTimes;
  font-size: 17.5pt;
  line-height: 25pt;
  margin: 12.5pt 0;
  margin-bottom: 0;
  -webkit-flex-grow: 1;
  -webkit-flex-basis: 100%;
  text-align: center;
}
#members h2 {
  font-size: 10pt;
  line-height: 12.5pt;
  border-bottom: 1px solid blue;
  text-align: center;
  padding-bottom: 6.25pt;
}
#members h3 {
  text-transform: uppercase;
}
#members ul {
  margin-bottom: 12.5pt;
}
#members li {
  max-width: 10em;
  border-bottom: 1px solid blue;
  display: inline-flex;
  padding: 3.125pt;
}
#members li:nth-child(odd) {
  text-align: left;
  border-left: 1px solid blue;
  border-bottom: 1px solid blue;
}
#members li:nth-child(even) {
  text-align: right;
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
}
#frog {
  width: 125px;
  height: 125px;
  -webkit-flex-grow: 1;
  -webkit-flex-basis: 100%;
  position: relative;
  top: 14cm;
  margin-top: -9cm;
}
#frog svg#svg5365 path {
  stroke: blue !important;
}
#colophon {
  margin-top: 12.5pt;
  font-family: Ume;
  padding: 18.5pt;
  background-color: #FFF00;
}
#colophon dt {
  float: left;
  border-left: 1px solid blue;
  border-bottom: 1px solid blue;
  text-transform: uppercase;
  padding-right: 0.25em;
  padding-left: 0.25em;
  margin-top: 2px;
}
#colophon dd {
  float: left;
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
  margin-right: 1em;
  padding-right: 0.25em;
  margin-top: 2px;
}
#colophon dd:last-child {
  margin-right: 7px;
}
#colophon p {
  color: blue;
  display: inline;
}
/* DEBUG */
.debug .column {
  outline: 1px solid springgreen;
}
