@font-face {
  font-family: PropCourierSans;
  src: url("/document/fonts/persistent_typeface_PropCourierSans.ttf");
}
body {
  font-family: PropCourierSans;
  font-size: 12pt;
  line-height: 14pt;
  -webkit-transform: scale;
}
h1 {
  font-size: 36pt;
  line-height: 42pt;
}
