@font-face {
  font-family: Ax28;
  src: url("/document/fonts/Ax28Script.otf");
}
@font-face {
  font-family: PropCourierSans;
  src: url("/document/fonts/persistent_typeface_PropCourierSans.ttf");
}
body {
  font-family: PropCourierSans;
  font-size: 12pt;
  line-height: 14pt;
  -webkit-transform-origin: top center;
}
h1 {
  fofont-size: 36pt;
  line-height: 42pt;
}
p + p {
  margin-top: 14pt;
}
#texteNicolas {
  max-width: 70em;
  -webkit-column-count: 2;
}
