/* VARIABLES */
/* FONTS */
@font-face {
  font-family: Ax28;
  src: url("/document/fonts/Ax28Script.otf");
}
@font-face {
  font-family: PropCourierSans;
  src: url("/document/fonts/persistent_typeface_PropCourierSans.ttf");
}
@font-face {
  font-family: PropCourierSans;
  src: url("/document/fonts/persistent_typeface_PropCourierSans.ttf");
}
/* REDEFINE TAGS */
body {
  font-family: PropCourierSans;
  font-size: 12pt;
  line-height: 14pt;
  -webkit-transform-origin: top left;
}
h1 {
  font-family: Ax28;
  font-size: 36pt;
  line-height: 42pt;
}
p + p {
  margin-top: 14pt;
}
/* SPECIFIC STYLES */
.h2p-paper {
  background-image: url("/document/img/vagues4.png");
  background-repeat: repeat;
  background-size: 5%;
}
#texteNicolas {
  max-width: 70em;
  -webkit-column-count: 2;
}
