/* VARIABLES */
/* FONTS */
@font-face {
  font-family: PropCourierSans;
  src: url("/document/fonts/persistent_typeface_PropCourierSans.ttf");
}
@font-face {
  font-family: herschey;
  src: url("/document/fonts/hersheytimes.otf");
}
@font-face {
  font-family: Ume;
  src: url("/document/fonts/UmePlumePMincho-220.otf");
}
/* REDEFINE TAGS */
body {
  font-family: Ume;
  font-size: 12pt;
  line-height: 14pt;
  -webkit-transform-origin: top center;
}
body.export {
  -webkit-transform-origin: top left;
}
h1 {
  font-family: herschey;
  font-size: 36pt;
  line-height: 42pt;
}
p + p {
  margin-top: 14pt;
}
/* SPECIFIC STYLES */
.h2p-body {
  display: flex;
  flex-w: nowrap;
}
/*
.column {
    float: left;
	    width: 33%;
    height: 100%;
    box-sizing: border-box;
    
    & + .column {
        margin-left: @line-height;
    }
    
    &:last-child {
        width: 30%;
    }
}
*/
.h2p-paper {
  position: relative;
  z-index: -1000;
  background-image: url("/document/img/vagues4.png");
  background-repeat: repeat;
  background-size: 5%;
}
#texteNicolas {
  max-width: 70em;
}
