/* VARIABLES */
/* FONTS */
@font-face {
  font-family: Ax28;
  src: url("/document/fonts/Ax28Script.otf");
}
@font-face {
  font-family: herscheyTimes;
  src: url("/document/fonts/hersheytimes.otf");
}
@font-face {
  font-family: herscheyScript;
  src: url("/document/fonts/herscheyscript.otf");
}
@font-face {
  font-family: Ume;
  src: url("/document/fonts/UmePlumePMincho-220.otf");
}
/* REDEFINE TAGS */
body {
  font-family: Ume;
  font-size: 12pt;
  line-height: 14pt;
  -webkit-transform-origin: top center;
}
body.export {
  -webkit-transform-origin: top left;
}
h1 {
  font-family: herscheyTimes;
  font-size: 36pt;
  line-height: 42pt;
}
h2 {
  font-family: Ax28;
  font-size: 24pt;
  line-height: 42pt;
  margin-top: 14pt;
}
p + p {
  margin-top: 14pt;
}
sup {
  font-family: Ax28;
  color: blue;
}
li .column {
  float: left;
  width: 33%;
  height: 100%;
  box-sizing: border-box;
}
li .column + .column {
  margin-left: 14pt;
}
li .column:last-child {
  width: 30%;
}
.h2p-paper {
  position: relative;
  z-index: -1000;
  background-image: url("/document/img/vagues4.png");
  background-repeat: repeat;
  background-size: 5%;
}
#texteNicolas {
  max-width: 70em;
}
