/* VARIABLES */
/* FONTS */
@font-face {
  font-family: Ax28;
  src: url("/document/fonts/Ax28script.otf");
}
@font-face {
  font-family: herscheyTimes;
  src: url("/document/fonts/hersheytimes.otf");
}
@font-face {
  font-family: herscheyScript;
  src: url("/document/fonts/herscheyscript.otf");
}
@font-face {
  font-family: Ume;
  src: url("/document/fonts/UmePlumePGothic-220.otf");
}
@font-face {
  font-family: UmeMincho;
  src: url("/document/fonts/UmePlumePMincho-220.otf");
}
/* REDEFINE TAGS */
body {
  font-family: UmeMincho;
  font-size: 12pt;
  line-height: 14pt;
  -webkit-transform-origin: top center;
}
body.export {
  -webkit-transform-origin: top left;
}
h1 {
  font-family: herscheyTimes;
  font-size: 36pt;
  line-height: 42pt;
}
h2 {
  font-family: Ax28;
  font-size: 24pt;
  line-height: 42pt;
  margin-top: 14pt;
}
p + p {
  margin-top: 14pt;
}
sup {
  font-family: Ax28;
  color: blue;
  font-size: 0.75em;
  vertical-align: 0.25em;
  line-height: 0;
  margin-right: -2px;
}
/* FLOWS */
.column--small {
  -webkit-flow-from: marginalia;
  flow-from: marginalia;
}
#footnotes {
  -webkit-flow-into: marginalia;
  flow-into: marginalia;
}
/* SPECIFIC STYLES */
.feuille {
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
}
.column {
  float: left;
  width: 30%;
  height: 100%;
  box-sizing: border-box;
}
.column + .column {
  margin-left: 14pt;
}
.column--small {
  width: 10%;
  flex-grow: 1;
  flex-basis: 3;
}
.h2p-paper {
  position: relative;
  z-index: -1000;
  background-image: url("/document/img/vagues4.png");
  background-repeat: repeat;
  background-size: 5%;
}
#texteNicolas {
  max-width: 70em;
}
#footnotes {
  font-family: Ume;
  font-size: 11pt;
}
#members {
  max-width: 10em;
}
#members li {
  border-bottom: 1px solid blue;
  display: inline-flex;
}
#members li:nth-child(odd) {
  text-align: left;
  border-left: 1px solid blue;
  border-bottom: 1px solid blue;
}
#members li:nth-child(even) {
  text-align: right;
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
}
